.crossword {
    border: 1px solid #000;
    margin: 0 auto;
    width: 100%;
}

.cluenumber {
    font-size: 10pt;
    color: #999;
    vertical-align: super;
    text-align:left;
}

.crosswordcell {
    border:1px solid #000;
    height: 40px;
    width: 40px;
}